* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.botoes {
  gap: 40px;
  margin-top: 25px;
  flex-wrap: wrap;

}

.botao {
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
}

.botao.rosa {
  background-color: #ff77ab;
  color: #fff;
  border: none;
}

.botao.rosa:hover {
  background-color: #fff;
  color: #ff77ab;
  border: 2px solid #ff77ab;
}

.botao.branco {
  background-color: #ff77ab;
  color: #fff;
  border: 2px solid #ff77ab;
}

.botao.branco:hover {
  background-color: #fff;
  color: #e65c94;
  border-color: #ff77ab;
}

nav a {
  position: relative;
  text-decoration: none;
  color: #ff77ab;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

/* Sublinhado bonito */
nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 3px;
  background-color: #ff77ab;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Quando passa o mouse */
nav a:hover::after {
  transform: scaleX(1);
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: url('/imagem/Donuts fundo.png') no-repeat center center fixed;
  background-size: cover;
  color: #ff77ab;
  text-align: center;
}

h1 {
  margin-top: 60px;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 5px #ff77ab;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.donut {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.donut p {
  font-size: 1.3em;
  font-weight: bold;
  margin: 10px 0;
  text-shadow: 1px 1px 3px #000;
}

.button {
  padding: 10px 20px;
  background-color: #ff77ab;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #ff77ab;
  color: #fff;
  border: 2px solid #fff;
}

.Home {
  background-color: #ff77ab;
  color: #fff;
  border: 2px solid #fff;
}











